/*
    Author: Matthias Fussenegger
*/
.root { 
    -fx-base: rgb(50, 50, 50); 
    -fx-background: rgb(50, 50, 50); 
    -fx-control-inner-background:  rgb(50, 50, 50); 
}

.button:default {
    -fx-base: rgb(51, 153, 255); 
    -fx-background: rgb(50, 50, 50); 
    -fx-control-inner-background:  rgb(50, 50, 50); 
}

#dropViewText { /* color for bold text in DropView */
    -fx-fill: #FFFFFF;
}

#hashViewTable {
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 1 1 1 1;
    -fx-border-color: #7E7E7E;
    -fx-border-width: 0 0 1 0;
}

#hashViewTable:focused {
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 1, 1, 1, 1;
}

#aboutViewGridPane {
    -fx-background-color: rgb(180, 180, 180);
}

#aboutViewImageView {
    -fx-background-color: rgb(180, 180, 180); 
}

#aboutViewTextFlow {
    -fx-background-color: rgb(180, 180, 180); 
}

#aboutViewAppHomePage {
    -fx-text-fill: rgb(0, 0, 153);
}
